.info {
	padding: .4rem .2rem .05rem;
	background: rgb(238,238,238);
}
.info-container {
	position: relative;
	padding-bottom: 20em;
	background: #fff; 
	text-align: center;
}
.line {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
	width: 6px;
	background: rgb(238,238,238);
	z-index: 1;
}
.info-content {position: relative;z-index: 2;}

.info-content img {
	border: 4px solid rgb(238,238,238);
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
img.pic-avator {border-width: 8px; transform: translateY(-40%);}
@media only screen and (max-width: 768px) {img.pic-avator {width: 100px; height: 100px;}} 
img.pic-phone, img.pic-college, img.pic-company {
	width: 75px;
	height: 75px;
}

dl, dd {margin: 0;}
.info-content > dl {
	margin: 2em 0;
	position: relative;
	left: 50%;
	width: 50%;
}
dt {
	position: absolute;
	left: 0;
	transform: translateX(-200%);
	width: 4em;
}
dd {
	margin: 1em 0 1em 3em;
	width: 60%;
	text-align: left;
}
.time-year ~ dd {margin-left: 0;}
.info-name dd {
	text-indent: 2em;
}

.time-year {
	position: absolute;
	left: 0;
	border: 4px solid rgb(238,238,238);
	border-radius: 5px;
	background: #fff;
	text-align: center;
	transform: translateX(-50%);
}