* {
	box-sizing: border-box;
}
body,h2, h3, p, figure {
	margin: 0;
	font-family: "Microsoft YaHei",Arial,sans-serif;
	font-size: 16px;
}
body a {
	text-decoration: none;
}
body a:hover {
	text-decoration: underline;
}
body ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
input {outline: none;}
button {
	padding: 0;
	border: 0;
	outline: none;
}