main {
  padding: 0.05rem 0.25rem 1rem;
  background: rgb(238, 238, 238);
}

aside {
  float: right;
  width: 300px;
}

aside > div {
  margin-bottom: 1em;
}

/* search box */
.search {
  margin-bottom: 1em;
  padding: 0.5em 1em;
  height: 50px;
  background: #fff;
}

.search-box {
  position: relative;
  border: 1px solid #ccc;
  height: 100%;
}

.icon-search {
  position: absolute;
  display: block;
  width: 30px;
  height: 100%;
  background: url(../img/icon-search.svg) no-repeat;
  background-size: cover;
}

.search input {
  display: block;
  padding: 0.5em;
  padding-left: 2.5em;
  padding-right: 3.5em;
  border: 0;
  width: 100%;
  height: 100%;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  width: 40px;
  height: 100%;
  color: #fff;
}

.search-btn:hover {
  cursor: pointer;
}

/* search box end */

.directory li {
  padding: 0.6em;
  border-left: 3px solid rgb(223, 198, 230);
  border-bottom: 1px solid #ccc;
  background: #fff;
  transition: background-color 0.3s;
}

.directory li:last-child {
  border-bottom: none;
}

.directory li:hover {
  background: rgb(233, 198, 230);
}

li.dir-active {
  border-left-color: rgb(82, 42, 92);
}

.directory li a {
  display: block;
  color: #000;
}

.dcalendar {
  padding: 0.5em;
  background: #fff;
}

.all-tags {
  padding: 0.6em;
  background: #fff;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  color: rgb(119, 60, 136);
}

.tags-container span { margin: 2px; }

.weight-level-1 {
  font-size: 30px;
  font-weight: 400;
}

.weight-level-2 {
  font-size: 15px;
  font-weight: bold;
}

.mid-content {
  margin-right: 316px;
  min-height: 200px;
}

/* article */
article {
  position: relative;
  padding: 1em;
  margin-bottom: 1em;
  background: #fff;
}

.article-tag {
  position: absolute;
  top: 1em;
  left: -3em;
  width: 3em;
  text-align: center;
  color: #fff;
}

.article-tag span {
  display: block;
  padding: 0.5em 0;
}
.tag-time { background: rgb(82, 42, 92); }
.tag-category { background: rgb(166, 96, 183); }

.article-title {
  font-size: 16px;
  color: rgb(166, 96, 183);
  margin: 5px 0;
}

.article-title-vice {
  font-size: 12px;
  margin: 5px 0;
}

article p {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  text-indent: 2em;
}

.article-meta {
  margin: 1em 0;
  text-align: right;
  font-size: 11px;
  color: #ccc;
}

/* article end */

/* pagination */
.pagination { text-align: center; }
.pagination ul { display: inline-block; }
.pagination li { display: inline; }

.pagination li a {
  float: left;
  margin-right: 1em;
  padding: 8px 16px;
  font-size: 14px;
  color: #000;
  background: #fff;
  transition: background-color 0.3s;
}
.pagination li a:hover:not(.active) { background: rgba(166, 96, 183, 0.6); }
.pagination .active { background: rgb(166, 96, 183); }

.pagination .passive {
  opacity: 0.5;
  pointer-events: none;
}
.pagination-mobile { display: none; }

/* pagination end */

@media only screen and (max-width: 1024px) {
  aside {
    float: none;
    width: 100%;
  }

  .directory,
  .calendar,
  .all-tags,
  .pagination { display: none; }

  .mid-content {
    width: 100%;
    margin-right: 0;
  }

  .article-tag {
    position: static;
    display: flex;
  }

  .pagination-mobile { display: block; }
}
